body {

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

input, article {
    display: none;
}

.tab
{
	padding:10px;
}

#tab_bar
{
	background: #3d2d5d;
	color: white;
	font-size:18pt;
	padding:10px;
}
