.h1 Безопасность
.alert.alert-dismissible.alert-success
	button.close(type='button', data-dismiss='alert') ×
	h4.alert-heading Все хорошо
	p Угроз безопасности нет.
	hr
	p.mb-0 Не забывайте поставить дом на сигнализацию, когда будете уходить.
	
.container-fluid.row
	.col-md-4
		.widget-small.info.coloured-icon
			i.fas.fa-bell.fa-3x &nbsp;
			div.info
				h4 Сигнализация
				p
					a(href="#") Управление
					
	.col-md-4
		.widget-small.primary.coloured-icon
			i.fas.fa-video.fa-3x
			div.info
				h4 Видеонаблюдение
				p
					a(href="#") Смотреть &nbsp;
					a(href="#") Архив
					
.container-fluid.row
	.col-md-4
		.widget-small.primary.coloured-icon
			i.fas.fa-hand-holding-water.fa-3x
			div.info
				h4 Датчик утечки воды
				p
					b Не обнаружено

	.col-md-4
		.widget-small.warning.coloured-icon
			i.fas.fa-fire.fa-3x &nbsp;
			div.info
				h4 Датчик задымления
				p
					b Не обнаружено
					