  td
  {
	  text-align: center;
	  font-family: "Lucida Console",monospace;
	  font-size: 200%;
  }
  #initial_dialog
  {
	position: absolute;
    left: 30%;
	width:40%;
	text-align: center;
	border: 1px solid black;
  }
  #move_label
  {
	  text-align:center;
	  font-family:"Arial"
  }
  #count
  {
	  text-align:right;
  }
  #game_field
  {
	position: absolute;
    left: 40%;
	display: none;
  }